@using DoUongOnline.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<LoaiNhanVien>
@{
    ViewBag.Title = "ListLoaiNV";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div>
    <i class="fa fa-user-plus">
        <a style="text-decoration:none;color:orangered;font-size:large" href="@Url.Action("CreateLoaiNV", "Employee")">    Tạo loại nhân viên</a>
    </i>
</div>
&ensp;
<ol class="breadcrumb" style="font-size:large">
    <li class="breadcrumb-item">
        <a>Quản lý</a>
    </li>
    <li class="breadcrumb-item active">Danh sách loại nhân viên</li>
</ol>
<table class="table">
    <tr>
        <th>
            ID Loại nhân viên
        </th>
        <th>
            Loại nhân viên
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiNhanVien)
            </td>

        </tr>
    }

</table>
Trang @( Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuPage">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
