@using DoUongOnline.Models;
@using PagedList.Mvc
@model PagedList.PagedList<PhieuNhap>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Mã phiếu nhập
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Tổng tiền nhập
        </th>
        <th>
            Người tạo phiếu
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                @{ string giaban = item.TongTienNhap.ToString("#,##");}
                @Html.DisplayFor(modelItem => giaban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)
            </td>
        </tr>
    }

</table>
 Trang @( Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuPage">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<div class="alert alert-success"><b>Tổng tiền vốn của tháng @ViewBag.month1 là @ViewBag.tienvon VND </b></div>

